<p id="notice"><%= notice %></p>

<h4>Invoices / Invoice List </h4>

<table class="table table-bordered table-hover invoice_table">
  <thead id="table_head">
    <tr>
      <th class = "date_column">Inv date</th>
      <th class = "invoice_table_normal_column">Invoice number</th>
      <th class = "invoice_table_normal_column">Customer</th>
      <th>Products</th>
      <th class = "invoice_table_normal_column">Total</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.inv_date %></td>
        <td><%= invoice.invoice_number %></td>
        <td><%= invoice.customer_name %></td>
<!--         <td><%= invoice.customer_phone %></td>
        <td><%= invoice.customer_email %></td> -->
        <% if invoice.products.count(';')>3 %>
          <% products_array = invoice.products.to_s.split(';') %>
          <% final_products_display = products_array[0] + ";"+ products_array[1] +";"                  + products_array[2] + ";"+ "and " + (invoice.products.count(';')-3).to_s + " more" %>
          <td><%= final_products_display %> </td>
        <% else %>
          <td><%= invoice.products %></td>
        <% end %>
        <td><%= invoice.total %></td>
        <!-- <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
