<p id="notice"><%= notice %></p>

<h1>Listing Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Invoice number</th>
      <th>Inv date</th>
      <th>Customer name</th>
      <th>Customer phone</th>
      <th>Customer email</th>
      <th>Products</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.invoice_number %></td>
        <td><%= invoice.inv_date %></td>
        <td><%= invoice.customer_name %></td>
        <td><%= invoice.customer_phone %></td>
        <td><%= invoice.customer_email %></td>
        <td><%= invoice.products %></td>
        <td><%= invoice.total %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
