<!DOCTYPE html>
<html>
<head>
  <title>InvoiceApp</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= include_gon %>
<div id="parent">
	

	<div class="sidebar">
		<%= link_to products_path do %>
  			<div class="tab products_tab" title="Product List">
  				<h3>Products</h3>
  			</div>
		<% end %>

		<%= link_to invoices_path do %>
		<div class="tab invoices_tab" title="Invoice List">
			<h3>Invoices</h3>
		</div>
		<% end %>
	</div>
	<div>
		<%= yield %>
	</div>

</div>
</body>
</html>
